body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  display: block;
  width: 835px;
  border: 2px solid #fff;
  background-color: #f9e4de
}

td {
  border: 2px solid #fff;
  padding-left: 10px;
  padding-right: 10px;
}

th {
  border: 2px solid #fff;
  background-color: #e2a1a1;
}
