body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  display: block;
  max-width: 900px;
  border: 2px solid #fff;
  background-color: #f9e4de;
}

fieldset {
  border: 2px solid #fff;
  border-radius: 10px;
}

td {
  border: 2px solid #fff;
  padding-left: 10px;
  padding-right: 10px;
}

th {
  border: 2px solid #fff;
  background-color: #e2a1a1;
}
