body {
  background: url("images/background.png") no-repeat center center fixed;
  background-size: cover;
}

.salmonImage {
  display: inline-block;
  width: 250px;
  margin-left: 30px;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 100;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  display: inline-block;
  width: 260px;
  padding-top: 25px;
  margin-left: -180px;
}

/* #peachBox {
  background-color: rgba(200, 168, 135, .5);
  width: 300px;
  height: 150px;
  border-radius: 30px;
} */
