* {
  background-color: #ffffff;
}

.salmonImage {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 787px;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -120px;
  width: 280px;
}
